# Generated repo lists
repos.json
repos_exclude.json
repos_filtered.json

# Elixir
/doc/
/_build/
/deps/
/*.ez
erl_crash.dump
*.beam

# Mix
.fetch
mix.lock

# Local Windows Terminal layout overrides
config/wt_layout.local.exs
